<!-- FOOTER -->
<footer id="contacto" class="bg-slate-900 text-slate-400 py-16">

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <!-- GRID DEL FOOTER -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-12 border-b border-slate-800 pb-12 mb-12">

      <!-- LOGO Y DESCRIPCIÓN -->
      <div class="col-span-1 md:col-span-2">
        <div class="flex items-center gap-2 mb-6">

          <!-- RECORDERIS CAMBIAR EL ICONO PREDETERMINADO -->
          <i class="fa-solid fa-microchip text-blue-500 text-2xl"></i>

          <!-- NOMBRE -->
          <span class="font-bold text-2xl text-white tracking-tight">
            CrishoTech
          </span>

        </div>

        <!-- DESCRIPCIÓN -->
        <p class="max-w-sm">
          Soluciones tecnológicas pensadas en la eficiencia y la cercanía con el cliente.
        </p>
      </div>

      <!-- ENLACES -->
      <div>

        <h4 class="text-white font-bold mb-6">
          Enlaces Rápidos
        </h4>

        <ul class="space-y-3 text-sm">

          <li>
            <a href="#inicio" class="hover:text-blue-400 transition">
              Inicio
            </a>
          </li>

          <li>
            <a href="#servicios" class="hover:text-blue-400 transition">
              Servicios
            </a>
          </li>

          <li>
            <a href="#mision-vision" class="hover:text-blue-400 transition">
              Nuestro Propósito
            </a>
          </li>

        </ul>
      </div>

      <!-- CONTACTO -->
      <div>

        <h4 class="text-white font-bold mb-6">
          Contacto
        </h4>

        <ul class="space-y-3 text-sm">

          <!-- TELÉFONO -->
          <li class="flex items-center gap-3">
            <i class="fa-solid fa-phone text-blue-500"></i>
            +593 978 662 154
          </li>

          <!-- CORREO -->
          <li class="flex items-center gap-3">
            <i class="fa-solid fa-envelope text-blue-500"></i>
            contacto&#64;crishotech.com
          </li>

          <!-- UBICACIÓN -->
          <li class="flex items-center gap-3">
            <i class="fa-solid fa-location-dot text-blue-500"></i>
            Quito, Ecuador
          </li>

        </ul>
      </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="flex justify-between items-center gap-6">
      <p class="text-sm">
        &copy; 2026 CrishoTech. Todos los derechos reservados.
      </p>
    </div>

  </div>

</footer>